* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

header {
  height: 697px;
  background-image: url("/images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding-top: 70px; }
  nav .logo {
    margin-left: 70px; }
    nav .logo a {
      text-decoration: none;
      color: #414141;
      font-size: 24px;
      font-weight: 700; }
  nav .nav-right ul {
    list-style-type: none;
    display: flex;
    margin-right: 70px; }
    nav .nav-right ul li {
      padding-right: 50px; }
      nav .nav-right ul li a {
        text-decoration: none;
        color: #414141;
        font-weight: 400;
        font-size: 24px; }
      nav .nav-right ul li:nth-child(3) {
        padding-top: 4px;
        padding-right: 0; }
        nav .nav-right ul li:nth-child(3) a {
          border: 1px solid #414141;
          padding: 12px 27px;
          font-size: 18px; }
  @media screen and (max-width: 675px) {
    nav .nav-right {
      display: none; } }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 97.5px); }
  .title h1 {
    font-weight: 700;
    font-size: 64px;
    color: #414141;
    margin-bottom: 18px;
    text-align: center; }
  .title .title-desc {
    font-weight: 400;
    font-size: 18px;
    color: #414141;
    position: relative; }
    .title .title-desc::before {
      content: "";
      width: 75px;
      height: 3px;
      background-color: #414141;
      opacity: 0.75;
      border-radius: 50px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%); }

.articles {
  background-color: #f4f7f4; }
  .articles .title {
    padding-top: 105px; }
    .articles .title .articles-title-desc {
      font-weight: 600;
      font-size: 18px;
      position: relative;
      margin-bottom: 58px; }
      .articles .title .articles-title-desc::before {
        content: "";
        width: 75px;
        height: 3px;
        background-color: #414141;
        opacity: 0.75;
        border-radius: 50px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%); }
  .articles .w-articles {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 42px; }
    .articles .w-articles .article {
      width: 300px;
      height: 400px;
      border-radius: 5px;
      background-color: #fff;
      filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25)); }
      .articles .w-articles .article .w-img {
        width: 100%;
        height: 200px; }
        .articles .w-articles .article .w-img .article-img {
          width: inherit;
          height: inherit;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
      .articles .w-articles .article .article-title {
        text-align: center;
        margin-top: 72px;
        padding-bottom: 10px;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        color: #414141;
        position: relative; }
        .articles .w-articles .article .article-title::before {
          content: "";
          width: 75px;
          height: 3px;
          background-color: #414141;
          opacity: 0.75;
          border-radius: 50px;
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translateX(-50%); }
      .articles .w-articles .article .article-desc {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        color: #414141; }
    @media screen and (max-width: 425px) {
      .articles .w-articles {
        flex-direction: column;
        align-items: center; } }

.about {
  display: flex; }
  .about .w-img {
    width: 50%;
    height: 580px; }
    @media screen and (max-width: 425px) {
      .about .w-img {
        width: 100%; } }
    .about .w-img .article-img {
      width: 100%;
      height: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
  .about .w-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; }
    @media screen and (max-width: 425px) {
      .about .w-right {
        width: 100%; } }
    .about .w-right .about-title {
      font-weight: 600;
      font-size: 18px;
      position: relative;
      margin-bottom: 37px; }
      .about .w-right .about-title::before {
        content: "";
        width: 75px;
        height: 3px;
        background-color: #414141;
        opacity: 0.75;
        border-radius: 50px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%); }
    .about .w-right .about-desc {
      max-width: 500px;
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: justify; }
  @media screen and (max-width: 425px) {
    .about {
      flex-direction: column;
      align-items: center; } }

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 480px;
  background-color: #f2f2f2; }
  .subscribe .subscribe-title {
    font-weight: 600;
    font-size: 18px;
    color: #414141;
    margin-bottom: 10px; }
  .subscribe .subscribe-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #414141;
    margin-bottom: 25px; }
  .subscribe .w-input {
    min-width: 450px;
    margin-bottom: 25px; }
    .subscribe .w-input .subscribe-input {
      width: 100%;
      height: 50px;
      padding: 17px 20px;
      background-color: #e9ece9;
      border: 3px solid #ffffff; }
  .subscribe .subscribe-btn {
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #414141;
    color: #414141;
    padding: 10px 30px;
    cursor: pointer; }

footer {
  display: flex;
  justify-content: end; }
  footer ul {
    display: flex;
    list-style-type: none;
    margin: 38px; }
    footer ul li {
      margin-left: 22px; }
      footer ul li a {
        text-decoration: none;
        color: #414141; }
